@model ContosoUniversity.ViewModels.CourseWithHelp

@{
    ViewBag.Title = "Details";
}

<h2>Details @Html.DisplayHelp(Model.ContextHelps) </h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameWithHelpFor(model => model.Course.Department, Model.ContextHelps)
        </dt>

        <dd>            
            @Html.DisplayFor(model => model.Course.Department.Name)
        </dd>

        <dt>            
            @Html.DisplayNameWithHelpFor(model => model.Course.CourseID, Model.ContextHelps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseID)
        </dd>

        <dt>            
            @Html.DisplayNameWithHelpFor(model => model.Course.Title, Model.ContextHelps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt>            
            @Html.DisplayNameWithHelpFor(model => model.Course.Credits, Model.ContextHelps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Credits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
